<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/general.html :: head"></head>
<body>
    <header th:insert="fragments/general.html :: header"></header>
    <h2 class="title">Add new show</h2>
    <div class="col-md-8">
        <form action="#" th:action="@{/shows/new}" method="post" th:object="${show}">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="errorInput">
                <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorClass="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description">
                <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorClass="text-danger"></small>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="price">Price</label>-->
<!--                <input type="text" class="form-control" id="price" name="price">-->
<!--                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorClass="text-danger"></small>-->
<!--            </div>-->
            <br>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>